body {
    background-color: slategray;
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;

}


hr {
    width: 500px;
    height: 2px;
    background-color: skyblue;
    border: 0;
}

#game-board {
	width: 450px;
	height: 450px;
	margin: 0 auto;

    background-color: skyblue;
    color: white;
    border: 6px solid lightblue;
    border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    position: relative;
}

.game-cell {
    border: 6px solid lightblue;
    border-radius: 2px;
    font-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.winning-game-cell {
    background-color: white;
    color: skyblue;
}

#game-button {
    height: 50px;
    width: 150px;
    border: 5px solid lightblue;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

#wnnr{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bolder;
  padding: 20px 30px ;
  border-radius:20px;
  width: max-content;
    background: url("./background.jpg") no-repeat center center fixed;
    background-color: slategray;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 10;

}

.scr{
    text-align: center;

}